.dashboard{
  display: flex;
  height: 100svh;
  position: relative;
}
.dashboard-content{
  width: 100%;
  height: 100%;
  position: relative;
}
.background-img{
  position: absolute;
  z-index: -1;
  width: 700px;
  right: 0;
  bottom: 0;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .dashboard-sidebar{
    position: absolute;
    z-index: 1;
    left: calc(-1*var(--sidebar-width));
    top: calc(var(--headerbar-height));
    transition: all var(--transition-duration);
  }
  .background-img{
    top: 50svh;
    width: 300px;
  }
}
.sidebar-open {
  left: 0;
}